{% extends 'base.html.twig' %}

{% block title %}Hello AnketController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <form action="/anket/store" method="post">
            <label>Имя<label>
                    <input type="text" id="name" name="name" required>
                    <label>Возраст</label>
                    <input type="number" id="age" name="age" min="18">
                    <label>Текст анкеты</label>
                    <textarea id="description" name="description"></textarea>
                    <button type="submit">Отправить</button>
        </form>
    </div>
{% endblock %}
